/*
Credoxa Audit API

Public API contract for the Credoxa Audit service.  Authentication is provider-neutral. Consumers present an external bearer credential which is verified by the configured authentication adapter before Credoxa Audit establishes tenant/platform, actor, and capability authority.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package credoxaaudit

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"time"
)

type AuditSearchAPI interface {

	/*
		SearchAuditRecords Search audit records

		Requires capability `audit.records.search`.


		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiSearchAuditRecordsRequest
	*/
	SearchAuditRecords(ctx context.Context) ApiSearchAuditRecordsRequest

	// SearchAuditRecordsExecute executes the request
	//  @return AuditRecordPageResponse
	SearchAuditRecordsExecute(r ApiSearchAuditRecordsRequest) (*AuditRecordPageResponse, *http.Response, error)
}

// AuditSearchAPIService AuditSearchAPI service
type AuditSearchAPIService service

type ApiSearchAuditRecordsRequest struct {
	ctx                context.Context
	ApiService         AuditSearchAPI
	occurredAtFrom     *time.Time
	occurredAtTo       *time.Time
	actorId            *string
	actorKind          *ActorKind
	action             *string
	outcome            *AuditOutcome
	targetResourceType *string
	targetResourceId   *string
	correlationId      *string
	pageSize           *int32
	cursor             *string
}

// Inclusive lower timestamp filter. The value must be a timezone-aware ISO-8601 date-time. When occurred_at_to is also supplied, occurred_at_from must be earlier than occurred_at_to.
func (r ApiSearchAuditRecordsRequest) OccurredAtFrom(occurredAtFrom time.Time) ApiSearchAuditRecordsRequest {
	r.occurredAtFrom = &occurredAtFrom
	return r
}

// Exclusive upper timestamp filter. The value must be a timezone-aware ISO-8601 date-time. When occurred_at_from is also supplied, occurred_at_from must be earlier than occurred_at_to.
func (r ApiSearchAuditRecordsRequest) OccurredAtTo(occurredAtTo time.Time) ApiSearchAuditRecordsRequest {
	r.occurredAtTo = &occurredAtTo
	return r
}

func (r ApiSearchAuditRecordsRequest) ActorId(actorId string) ApiSearchAuditRecordsRequest {
	r.actorId = &actorId
	return r
}

func (r ApiSearchAuditRecordsRequest) ActorKind(actorKind ActorKind) ApiSearchAuditRecordsRequest {
	r.actorKind = &actorKind
	return r
}

func (r ApiSearchAuditRecordsRequest) Action(action string) ApiSearchAuditRecordsRequest {
	r.action = &action
	return r
}

func (r ApiSearchAuditRecordsRequest) Outcome(outcome AuditOutcome) ApiSearchAuditRecordsRequest {
	r.outcome = &outcome
	return r
}

// Target resource type filter. When supplied, the value must not be empty or whitespace-only.
func (r ApiSearchAuditRecordsRequest) TargetResourceType(targetResourceType string) ApiSearchAuditRecordsRequest {
	r.targetResourceType = &targetResourceType
	return r
}

// Target resource identifier filter. When supplied, the value must not be empty or whitespace-only and target_resource_type must also be supplied.
func (r ApiSearchAuditRecordsRequest) TargetResourceId(targetResourceId string) ApiSearchAuditRecordsRequest {
	r.targetResourceId = &targetResourceId
	return r
}

// Correlation identifier filter. When supplied, the value must not be empty or whitespace-only.
func (r ApiSearchAuditRecordsRequest) CorrelationId(correlationId string) ApiSearchAuditRecordsRequest {
	r.correlationId = &correlationId
	return r
}

func (r ApiSearchAuditRecordsRequest) PageSize(pageSize int32) ApiSearchAuditRecordsRequest {
	r.pageSize = &pageSize
	return r
}

// Opaque continuation cursor returned by Credoxa Audit. When supplied, the value must not be empty or whitespace-only.
func (r ApiSearchAuditRecordsRequest) Cursor(cursor string) ApiSearchAuditRecordsRequest {
	r.cursor = &cursor
	return r
}

func (r ApiSearchAuditRecordsRequest) Execute() (*AuditRecordPageResponse, *http.Response, error) {
	return r.ApiService.SearchAuditRecordsExecute(r)
}

/*
SearchAuditRecords Search audit records

Requires capability `audit.records.search`.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiSearchAuditRecordsRequest
*/
func (a *AuditSearchAPIService) SearchAuditRecords(ctx context.Context) ApiSearchAuditRecordsRequest {
	return ApiSearchAuditRecordsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AuditRecordPageResponse
func (a *AuditSearchAPIService) SearchAuditRecordsExecute(r ApiSearchAuditRecordsRequest) (*AuditRecordPageResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AuditRecordPageResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuditSearchAPIService.SearchAuditRecords")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/audit/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.occurredAtFrom != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "occurred_at_from", r.occurredAtFrom, "form", "")
	}
	if r.occurredAtTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "occurred_at_to", r.occurredAtTo, "form", "")
	}
	if r.actorId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "actor_id", r.actorId, "form", "")
	}
	if r.actorKind != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "actor_kind", r.actorKind, "form", "")
	}
	if r.action != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "action", r.action, "form", "")
	}
	if r.outcome != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "outcome", r.outcome, "form", "")
	}
	if r.targetResourceType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "target_resource_type", r.targetResourceType, "form", "")
	}
	if r.targetResourceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "target_resource_id", r.targetResourceId, "form", "")
	}
	if r.correlationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "correlation_id", r.correlationId, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	} else {
		var defaultValue int32 = 50
		r.pageSize = &defaultValue
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
