/*
Credoxa Audit API

Public API contract for the Credoxa Audit service.  Authentication is provider-neutral. Consumers present an external bearer credential which is verified by the configured authentication adapter before Credoxa Audit establishes tenant/platform, actor, and capability authority.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package credoxaaudit

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

type AuditIntegrityAPI interface {

	/*
		VerifyAuditIntegrityRange Verify an audit integrity range

		Requires capability `audit.integrity.read`.


		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiVerifyAuditIntegrityRangeRequest
	*/
	VerifyAuditIntegrityRange(ctx context.Context) ApiVerifyAuditIntegrityRangeRequest

	// VerifyAuditIntegrityRangeExecute executes the request
	//  @return IntegrityRangeResponse
	VerifyAuditIntegrityRangeExecute(r ApiVerifyAuditIntegrityRangeRequest) (*IntegrityRangeResponse, *http.Response, error)

	/*
		VerifyAuditRecordIntegrity Verify integrity of an audit record

		Requires capability `audit.integrity.read`.


		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param recordId
		@return ApiVerifyAuditRecordIntegrityRequest
	*/
	VerifyAuditRecordIntegrity(ctx context.Context, recordId string) ApiVerifyAuditRecordIntegrityRequest

	// VerifyAuditRecordIntegrityExecute executes the request
	//  @return RecordIntegrityResponse
	VerifyAuditRecordIntegrityExecute(r ApiVerifyAuditRecordIntegrityRequest) (*RecordIntegrityResponse, *http.Response, error)
}

// AuditIntegrityAPIService AuditIntegrityAPI service
type AuditIntegrityAPIService service

type ApiVerifyAuditIntegrityRangeRequest struct {
	ctx           context.Context
	ApiService    AuditIntegrityAPI
	startSequence *int32
	endSequence   *int32
}

// First integrity-chain sequence to verify. Must be at least 1. end_sequence must be greater than or equal to start_sequence, and the inclusive requested range must contain at most 1000 positions.
func (r ApiVerifyAuditIntegrityRangeRequest) StartSequence(startSequence int32) ApiVerifyAuditIntegrityRangeRequest {
	r.startSequence = &startSequence
	return r
}

// Last integrity-chain sequence to verify. Must be at least 1 and greater than or equal to start_sequence. The inclusive requested range must contain at most 1000 positions.
func (r ApiVerifyAuditIntegrityRangeRequest) EndSequence(endSequence int32) ApiVerifyAuditIntegrityRangeRequest {
	r.endSequence = &endSequence
	return r
}

func (r ApiVerifyAuditIntegrityRangeRequest) Execute() (*IntegrityRangeResponse, *http.Response, error) {
	return r.ApiService.VerifyAuditIntegrityRangeExecute(r)
}

/*
VerifyAuditIntegrityRange Verify an audit integrity range

Requires capability `audit.integrity.read`.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiVerifyAuditIntegrityRangeRequest
*/
func (a *AuditIntegrityAPIService) VerifyAuditIntegrityRange(ctx context.Context) ApiVerifyAuditIntegrityRangeRequest {
	return ApiVerifyAuditIntegrityRangeRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IntegrityRangeResponse
func (a *AuditIntegrityAPIService) VerifyAuditIntegrityRangeExecute(r ApiVerifyAuditIntegrityRangeRequest) (*IntegrityRangeResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IntegrityRangeResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuditIntegrityAPIService.VerifyAuditIntegrityRange")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/audit/integrity/ranges"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.startSequence == nil {
		return localVarReturnValue, nil, reportError("startSequence is required and must be specified")
	}
	if *r.startSequence < 1 {
		return localVarReturnValue, nil, reportError("startSequence must be greater than 1")
	}
	if r.endSequence == nil {
		return localVarReturnValue, nil, reportError("endSequence is required and must be specified")
	}
	if *r.endSequence < 1 {
		return localVarReturnValue, nil, reportError("endSequence must be greater than 1")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "start_sequence", r.startSequence, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "end_sequence", r.endSequence, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiVerifyAuditRecordIntegrityRequest struct {
	ctx        context.Context
	ApiService AuditIntegrityAPI
	recordId   string
}

func (r ApiVerifyAuditRecordIntegrityRequest) Execute() (*RecordIntegrityResponse, *http.Response, error) {
	return r.ApiService.VerifyAuditRecordIntegrityExecute(r)
}

/*
VerifyAuditRecordIntegrity Verify integrity of an audit record

Requires capability `audit.integrity.read`.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param recordId
	@return ApiVerifyAuditRecordIntegrityRequest
*/
func (a *AuditIntegrityAPIService) VerifyAuditRecordIntegrity(ctx context.Context, recordId string) ApiVerifyAuditRecordIntegrityRequest {
	return ApiVerifyAuditRecordIntegrityRequest{
		ApiService: a,
		ctx:        ctx,
		recordId:   recordId,
	}
}

// Execute executes the request
//
//	@return RecordIntegrityResponse
func (a *AuditIntegrityAPIService) VerifyAuditRecordIntegrityExecute(r ApiVerifyAuditRecordIntegrityRequest) (*RecordIntegrityResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RecordIntegrityResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuditIntegrityAPIService.VerifyAuditRecordIntegrity")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/audit/integrity/records/{record_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"record_id"+"}", url.PathEscape(parameterValueToString(r.recordId, "recordId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
